<div class="col-md-offset-2 col-md-8">
	<div class="main-title text-center">
		<h3>Admin panel</h3>
	</div>
	<div class="col-md-offset-2 col-md-8">
		<ul style="list-style-type: none;">
			<li><a href="<%=base_url%>/admin/users"><span class="glyphicon glyphicon-eye-open"></span> View all users</a></li>
			<li><a href="<%=base_url%>/admin/rooms"><span class="glyphicon glyphicon-eye-open"></span> View all rooms</a></li>
			<li><a href="<%=base_url%>/admin/probs"><span class="glyphicon glyphicon-eye-open"></span> View all problems</a></li>
		</ul>	
	</div>
</div>
