<div class="text-center main-title">
	<h1>Welcome to <b>SCS Algorithm Time</b></h1>
</div>

<div class="text-center col-md-4 col-md-offset-4 main-menu">
	<p class="row">
		<a href="user/guest" class="row">Login as guest</a>
		<a href="user/login" class="row">Login</a>
		<a href="user/register" class="row">Register</a>
		<a href="score" class="row">Scoreboard</a>
	</p>
</div>