body {
  font-size: 14px; }

.main-title {
  margin-top: 4em;
  margin-bottom: 4em; }

.main-menu {
  border: solid 1px #ccc; }

.main-menu a {
  font-size: 20px;
  color: black;
  font-weight: bold; }

.top-messages {
  padding: 10px;
  margin-bottom: 10px; }

.user-count {
  margin-top: 10px; }

.menu {
  line-height: 40px;
  color: white;
  background-color: #932439;
  padding: 14px; }

.menu a {
  line-height: 40px;
  color: white;
  font-weight: bold; }

.menubar-icon {
  height: 40px;
  float: left; }

.logo-menu {
  color: white;
  font-weight: bold;
  font-size: 20px; }
