		<div class="text-center col-md-4 col-md-offset-4 user-count">
		<hr>
			</span><span id="connected_users" class="label label-primary">0 Connected Users</span>
		</div>
		<script src = "/js/jquery-1.12.3.min.js"></script>
		<script src = "/js/bootstrap.min.js"></script>
		<script src = "/js/socket.io.js"></script>  
		<script>  
			var socket = io();
			socket.on('user_count', function(count){
				$("#connected_users").text(parseInt(count) + " Connected User" + ((count!=1)?"s":""));
			});
		</script> 
	</body>
</html>